
 /* Set the entire calendar background to white */
 .react-datepicker {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
  
  /* Calendar wrapper */
  .react-datepicker__calendar {
    width: 270px;
    height: 304px;
    border: 5px solid #ccc;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }
  
  /* Customize the selected date style */
  .react-datepicker__day--selected {
    background-color: #025AB2;
    color: white;
    border-radius: 20px;
  }
  
  /* Customize the empty day style */
  .empty-day {
    visibility: hidden; /* Hide empty cells */
  }
  
  /* Customize the weekday and weekend styles */
  
  
  /* Customize the Sunday and Saturday styles */
  .react-datepicker__day-name:nth-of-type(1), /* Sunday */
  .react-datepicker__day-name:nth-of-type(7) /* Saturday */ {
    color: #025AB2;
  }
  
  /* Customize the header background */
  .react-datepicker__header {
    background-color: white;
    border: none;
  }
  
  /* Customize the prev and next arrows */
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    border: none;
    background-color: transparent;
    color: black;
    z-index: 1; /* Ensure the arrows are on top */
    padding: 0; 
    margin-left: 10px; 
    margin-right: 10px;
    width: 10px; 
    height: 1rem; 
    top: 12px;
  }
  
  /* Customize the arrow icon */
  .react-datepicker__navigation-icon::before {
    color: black !important;
  }
  
  
  /* Ensure the arrow button is not colored */
  .react-datepicker__navigation--previous > * {
    color: black !important;
  }
  
  .react-datepicker__navigation--next > * {
    color: black !important;
  }

  .react-datepicker__day--outside-month {
    visibility: hidden;
}

.react-datepicker__day{
    color: #808192;
}

/* Hide the selected year text */
.react-datepicker__year-dropdown-container .react-datepicker__year-read-view--selected-year {
  font-size: 0;
  line-height: 0;
}

/* Customize the selected date number color */
.react-datepicker__day--selected .react-datepicker__day--in-selecting-range,
.react-datepicker__day--selected .react-datepicker__day--in-range,
.react-datepicker__day--selected {
  color: white;
}


  /* Hide the triangle shape in react-datepicker */
.react-datepicker__triangle {
  display: none;
}

/* CSS */
.react-datepicker__month-text {
  /* Set the default text color to your desired color (e.g., black) */
  color: black;
  font-weight: normal;
  transition: color 0.2s ease-in-out;
  /* text-transform: none !important; */
}

.react-datepicker__month-text:hover,
.react-datepicker__month-text.react-datepicker__month-text--keyboard-selected {
  /* Change the text color to blue when hovering or when the month is selected */
  color:#025AB2;
  background-color: #E6EDF4;
}


